/* ---- IMPORTS ---- */ 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Oswald:wght@500&family=Roboto+Condensed:wght@300&family=Sacramento&display=swap');
/* 
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Sacramento', cursive; 
*/

body{
    background-color: tomato;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 3rem;
}

main{
    background-color: whitesmoke;
    margin: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
}

div{
    margin: none;
    padding: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#final{
    flex-direction: column;
    justify-content: center;
    align-content: center;
    display: none;
    padding: 0.5rem 1rem;
    margin: 1rem;
}

#calculate{
    margin: 1rem;
    padding: 0.5rem 1rem;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    border-radius: 0.5rem;
}


