body{
    background-color: tomato;
    display: flex;
    justify-content: center;
}

main{
    background-color: whitesmoke;
    margin: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
}

div{
    margin: none;
    padding: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#final{
    background-color: cornflowerblue;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    display: none;
    padding: 0.5rem 1rem;
    margin: 1rem;
}

#calculate{
    
    background-color: rgb(255, 243, 75);
    margin: 1rem;
    padding: 0.5rem 1rem;
}


